.header {
    background: #5c6bc0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
}